// Fonts
@font-face {
  font-family: 'Shentox-SemiBoldItalic';
  src: url("../fonts/38BBE9_0_0.eot");
  src: url("../fonts/38BBE9_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/38BBE9_0_0.woff2") format("woff2"), url("../fonts/38BBE9_0_0.woff") format("woff"), url("../fonts/38BBE9_0_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Shentox-ThinItalic';
  src: url("../fonts/38BBE9_1_0.eot");
  src: url("../fonts/38BBE9_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/38BBE9_1_0.woff2") format("woff2"), url("../fonts/38BBE9_1_0.woff") format("woff"), url("../fonts/38BBE9_1_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Shentox-Thin';
  src: url("../fonts/38BBE9_2_0.eot");
  src: url("../fonts/38BBE9_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/38BBE9_2_0.woff2") format("woff2"), url("../fonts/38BBE9_2_0.woff") format("woff"), url("../fonts/38BBE9_2_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Shentox-SemiBold';
  src: url("../fonts/38BBE9_3_0.eot");
  src: url("../fonts/38BBE9_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/38BBE9_3_0.woff2") format("woff2"), url("../fonts/38BBE9_3_0.woff") format("woff"), url("../fonts/38BBE9_3_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Shentox-UltraLight';
  src: url("../fonts/38BBE9_4_0.eot");
  src: url("../fonts/38BBE9_4_0.eot?#iefix") format("embedded-opentype"), url("../fonts/38BBE9_4_0.woff2") format("woff2"), url("../fonts/38BBE9_4_0.woff") format("woff"), url("../fonts/38BBE9_4_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Shentox-RegularItalic';
  src: url("../fonts/38BBE9_5_0.eot");
  src: url("../fonts/38BBE9_5_0.eot?#iefix") format("embedded-opentype"), url("../fonts/38BBE9_5_0.woff2") format("woff2"), url("../fonts/38BBE9_5_0.woff") format("woff"), url("../fonts/38BBE9_5_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Shentox-Regular';
  src: url("../fonts/38BBE9_6_0.eot");
  src: url("../fonts/38BBE9_6_0.eot?#iefix") format("embedded-opentype"), url("../fonts/38BBE9_6_0.woff2") format("woff2"), url("../fonts/38BBE9_6_0.woff") format("woff"), url("../fonts/38BBE9_6_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Shentox-Medium';
  src: url("../fonts/38BBE9_7_0.eot");
  src: url("../fonts/38BBE9_7_0.eot?#iefix") format("embedded-opentype"), url("../fonts/38BBE9_7_0.woff2") format("woff2"), url("../fonts/38BBE9_7_0.woff") format("woff"), url("../fonts/38BBE9_7_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Shentox-MediumItalic';
  src: url("../fonts/38BBE9_8_0.eot");
  src: url("../fonts/38BBE9_8_0.eot?#iefix") format("embedded-opentype"), url("../fonts/38BBE9_8_0.woff2") format("woff2"), url("../fonts/38BBE9_8_0.woff") format("woff"), url("../fonts/38BBE9_8_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Shentox-LightItalic';
  src: url("../fonts/38BBE9_9_0.eot");
  src: url("../fonts/38BBE9_9_0.eot?#iefix") format("embedded-opentype"), url("../fonts/38BBE9_9_0.woff2") format("woff2"), url("../fonts/38BBE9_9_0.woff") format("woff"), url("../fonts/38BBE9_9_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Shentox-Light';
  src: url("../fonts/38BBE9_A_0.eot");
  src: url("../fonts/38BBE9_A_0.eot?#iefix") format("embedded-opentype"), url("../fonts/38BBE9_A_0.woff2") format("woff2"), url("../fonts/38BBE9_A_0.woff") format("woff"), url("../fonts/38BBE9_A_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Shentox-BoldItalic';
  src: url("../fonts/38BBE9_B_0.eot");
  src: url("../fonts/38BBE9_B_0.eot?#iefix") format("embedded-opentype"), url("../fonts/38BBE9_B_0.woff2") format("woff2"), url("../fonts/38BBE9_B_0.woff") format("woff"), url("../fonts/38BBE9_B_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Shentox-Bold';
  src: url("../fonts/38BBE9_C_0.eot");
  src: url("../fonts/38BBE9_C_0.eot?#iefix") format("embedded-opentype"), url("../fonts/38BBE9_C_0.woff2") format("woff2"), url("../fonts/38BBE9_C_0.woff") format("woff"), url("../fonts/38BBE9_C_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Shentox-UltraLightItalic';
  src: url("../fonts/38BBE9_D_0.eot");
  src: url("../fonts/38BBE9_D_0.eot?#iefix") format("embedded-opentype"), url("../fonts/38BBE9_D_0.woff2") format("woff2"), url("../fonts/38BBE9_D_0.woff") format("woff"), url("../fonts/38BBE9_D_0.ttf") format("truetype");
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~lightpick/scss/lightpick.scss';


// CI
.gradient-primary {
background-image: linear-gradient(to top, #9a123f 0%, #C23E5E 100%) !important;
background: linear-gradient(to top, #9a123f 0%, #C23E5E 100%) !important;
}

.gradient-secondary {
background: hsla(259, 84%, 78%, 1);
background: linear-gradient(90deg, hsla(259, 84%, 78%, 1) 0%, hsla(206, 67%, 75%, 1) 100%);
background: -moz-linear-gradient(90deg, hsla(259, 84%, 78%, 1) 0%, hsla(206, 67%, 75%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(259, 84%, 78%, 1) 0%, hsla(206, 67%, 75%, 1) 100%);
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}


#sidebar-wrapper .list-group {
    width: 15rem;

    a.selected-item {
            background-color: #79797930 !important;
        border-bottom: 2px solid white !important;
    }
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}


.custom-border-primary {
    border: 3px solid #9a123f !important;
}

.custom-border-secondary {
    border: 3px solid #cbcbcb !important;
}

.custom-border-default {
    border: 3px solid #efefef !important;
}

.login-spanner {
    height:100vh;
}
